*{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: rgb(62, 241, 107);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-options{
    display: flex;
    justify-content: space-between;
}

.user{
    margin:0 1rem;
    width: .7rem; 
}
.user:hover{
    cursor: pointer;
}

.cart{
    width: .9rem;
}
.cart:hover{
    cursor: pointer;
}

.container{
    max-width: 75vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 2em;
}

.container::-webkit-scrollbar{
    display: none;
}

.cardItem img{
    width: 3em;
    height: 5em;
}
.cardItem{
    background:no-repeat;
    box-sizing: border-box;
    width: 3em;
    height: 7em;
    background-color: rgb(62, 241, 107);
    margin: 0.2em;
    border-radius: .5em;
    flex:none;
}


.cardItem-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap ;
    padding: 0 0.2em;
}
.cardItem-desc h1{
    font-size: .35em;
    text-transform: capitalize;
}
.figureCart{
    width: .8rem;
    color: black;
}
.figureCart:hover{
    cursor: pointer;
}
.figureCart:active{
    color: aliceblue;
}


.buttons{
    width: 100%;
    text-align: center;
}
.buttons button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


